<form #form="ngForm" autocomplete="off"  (ngSubmit)="onSubmit(form)">
    <input type="hidden"  name="TaskID" #TaskID="ngModel" [(ngModel)]="formData.taskId">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Task Title.</label>
          <div class="input-group">
            <input name="TaskTitle" #TaskTitle="ngModel" [(ngModel)]="formData.taskTitle" class="form-control" required>
        </div>
        <div class="validation-error" *ngIf="TaskTitle.invalid && TaskTitle.touched">This field is Required</div>
        </div>
        <div class="form-group">
          <label>Task Details</label>
          <textarea name="TaskDetails" #TaskDetails="ngModel" [(ngModel)]="formData.taskDetails" class="form-control" rows="5">
        </textarea>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>Assignee Name</label>
          <input type="text" name="AssigneeName" #AssigneeName="ngModel" [(ngModel)]="formData.assigneeName" class="form-control" required>
        </div>
        <div class="validation-error" *ngIf="AssigneeName.invalid && AssigneeName.touched">This field is Required</div>
        <div class="form-group">
          <label>Project</label>
  
          <div class="input-group">
            <input name="Project" #Project="ngModel" [(ngModel)]="formData.project" class="form-control" required>
          </div>
          <div class="validation-error" *ngIf="Project.invalid && Project.touched">This field is Required</div>
        </div>
        <div class="form-group">
            <label>Date</label>
    
            <div class="input-group">
              <input type="date" name="Date" #Date="ngModel" [(ngModel)]="formData.date" class="form-control" required>
            </div>
            <div class="validation-error" *ngIf="Date.invalid && Date.touched">This field is Required</div>
          </div>
      </div>
    </div>
    <div style="overflow-x:auto;">
        <table class="table table-borderless">
          <thead class="thead-light">
            <th>Task Title</th>
            <th>Task Details</th>
            <th>Assignee Name</th>
            <th>Project</th>
            <th>Date</th>
          </thead>
          <tbody>
      
            <tr *ngFor="let item of service.TaskItems;let i=index;">
              <td>{{item.taskTitle}}</td>
              <td>{{item.taskDetails}}</td>
              <td>{{item.assigneeName}}</td>
              <td>{{item.project}}</td>
              <td>{{item.date}}</td>
              <td>
                <a class="btn btn-sm btn-info text-white" (click)="showForEdit(item)"><i class="fa fa-edit"></i></a>
                <a class="btn btn-sm btn-danger text-white ml-1" (click)="onDelete(item.taskId)"><i class="fas fa-trash"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
    <div class="form-group">
      <button [disabled]="!form.valid"type="submit" class="btn btn-info"><i class="fa fa-database"></i> Submit</button>    </div>
  </form>
